span.switcher input:before,
span.switcher input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
span.switcher input:before {
  content: 'ON';
  left: 28px;
  transition: all 0.3s;
}
span.switcher input:after {
  content: 'OFF';
  right: 25px;
  transition: all 0.3s;
}
span.switcher label {
  z-index: 1;
  position: absolute;
  bottom: 10px;
  border-radius: 20px;
}
span.switcher.switcher-1 input {
  transition: 0.25s -0.1s;
}
span.switcher.switcher-1 input:checked {
  background-color: #fff;
}
span.switcher.switcher-1 input:checked:before {
  color: #fff;
  transition: color 0.5s 0.2s;
}
span.switcher.switcher-1 input:checked:after {
  color: white;
  transition: color 0.5s;
}
span.switcher.switcher-1 input:checked + label {
  left: 10px;
  right: 70px;
  background: #1e1e1e;
  transition: left 0.5s, right 0.4s 0.2s;
}
span.switcher.switcher-1 input:not(:checked) {
  background: #1e1e1e;
  transition: background 0.5s -0.1s;
}
span.switcher.switcher-1 input:not(:checked):before {
  color: #1e1e1e;
  transition: color 0.5s;
}
span.switcher.switcher-1 input:not(:checked):after {
  color: #1e1e1e;
  transition: color 0.5s 0.2s;
}
span.switcher.switcher-1 input:not(:checked) + label {
  left: 70px;
  right: 10px;
  background: #fff;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}
@keyframes turn-off {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
